.DS_Store
node_modules
sqlite3.db
package-lock.json
/dist/static
/dist/favicon.ico
/dist/index.html
/venv
__pycache__
backend/.env*
# local env files
.env.local
.env.*.local
.env
dist
static
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/media/actual_bases
public/media/catalog
public/media/print
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
