.index {
    width: 100%;
    max-height: calc(100% - 50px);
    padding: 50px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
}

.index__tasks-row {
    width: 100%;
    display: flex;

    justify-content: space-between;
    margin-bottom: 50px;
}


