.popup.question {
  max-width: 484px;
  padding: 50px 40px 30px 40px;
  .start_specialty {
    margin-bottom: 20px;
  }
  .popup__submit {
    margin: 0 auto;
  }
}
.popup.main_medic {
  max-width: 484px;
  padding: 50px 40px 30px 40px;
  .popup__submit {
    margin: 0 auto;
  }
}
