.section_service_item {
  .section__title {
    text-align: start;
    margin-bottom: 30px;
  }
}
.service_item__wrapper {
  display: flex;
  align-items: flex-start;
}
.service_item__image {
  margin-right: 30px;
}
.service_item__info {
  .aright__signup {
    max-width: 187px;
    font-family: Noah;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #0ea89e;
    }
  }
}

.service_item__title {
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #232323;
  margin-bottom: 24px;
}

.service_item__description {
  font-family: Noah;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155%;
  text-indent: 26px;
  color: #232323;
  margin-bottom: 25px;
}

.section_subscribe {
  margin-top: 50px;
  .section__title {
    text-align: start;
  }
}

.subscribe__list {
  padding: 0;
  margin: 25px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  list-style: none;
  li,
  a {
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    transition: 0.35s all ease;
    svg {
      path {
        transition: 0.35s all ease;
      }
    }
    &:hover {
      transition: 0.35s all ease;
      background-color: #0dc2b6;
      color: #fff;
      .subscribe_info__title {
        color: #fff;
        transition: 0.15s all ease;
      }
      .subscribe_info__description {
        color: #fff;
        transition: 0.35s all ease;
      }
      svg {
        path {
          fill: #fff;
          transition: 0.35s all ease;
        }
      }
    }
  }
}

.subscribe_info {
  margin-left: 25px;
}

.subscribe_info__title {
  font-family: Noah;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #232323;
  transition: 0.35s all ease;
}

.subscribe_info__description {
  transition: 0.35s all ease;
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0dc2b6;
  margin-top: 4px;
}

.section_service_cost {
  background: url('../../../../public/img/service__background_item.png') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 77px 0;
  margin-top: 100px;
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.76);
    height: 100%;
    top: 0;
    z-index: 10;
  }
  .section_wrapper {
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 22px;
  }
}
.service_cost__title {
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 135%;
  color: #232323;
}
.service_cost__left {
  max-width: 854px;
}
.service_cost__bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
  grid-gap: 22px;
  flex-wrap: wrap;
  p {
    font-family: Noah;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    color: #232323;
    margin: 0;
  }
  a {
    font-family: Noah;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 155%;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
    text-decoration-line: underline;
    color: #0dc2b6;
  }
}

.section_service_text {
  margin-top: 80px;
  .section__title {
    text-align: start;
  }
}

.service_text__number_list {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}

.service_text__number_item {
  margin-bottom: 24px;
  &:last-child {
    margin: 0;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      font-family: Noah;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 155%;
      text-indent: 26px;
    }
    margin-bottom: 20px;
  }
  color: #232323;
  .service_text__number_title {
    font-family: Noah;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 15px 0;
  }
  .service_text__number_paragraf {
    font-family: Noah;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    list-style: disc inside;
    text-indent: 26px;
    margin: 0;
    &.margin {
      margin-top: 20px;
    }
    &.bold {
      font-weight: bold;
    }
  }
}

.section_service_med {
  margin-top: 80px;
  margin-bottom: 40px;
  .section__title {
    text-align: start;
  }
}

.service_med__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0;
  margin: 24px 0 0 0;
}

.service_med__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 264px;
  width: 100%;
  padding: 16px 16px 25px 16px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  transition: 0.35s all ease;
  img {
    max-width: 100%;
    width: 100%;
  }
  &:hover {
    transform: translateY(-10px);
    transition: 0.35s all ease;
    .service_med__item_button {
      transition: 0.35s all ease;
      background: #0dc2b6;
      color: #fff;
      border: 2px solid #0dc2b6;
      &:hover {
        transition: 0.35s all ease;
        background-color: #0ea89e;
        border: 2px solid #0ea89e;
      }
    }
  }
}
.service_med__item_name {
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 135%;
  color: #232323;
  text-align: center;
  margin-top: 25px;
}

.service_med__item_work {
  font-family: Noah;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  margin-top: 8px;
}

.service_med__item_date {
  font-family: Noah;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
}

.service_med__item_button {
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #ededed;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  max-width: 180px;
  width: 100%;
  padding: 15px 0;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.35s all ease;
  &:hover {
    transition: 0.35s all ease;
    background-color: #0ea89e;
  }
}
