.teams {
    width: 100%;
    max-height: calc(100% - 50px);
    overflow: auto;
}
.teams__button-cont {
    margin: 30px 0;
}
.teams__teams-table {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.teams__teams-element {


    background: #303030;
    border-radius: 32px 16px;
    padding: 20px;
    width: 300px;
    margin-bottom: 30px;
    flex-shrink: 0;
    box-shadow: 0px 4px 0px #303030;
    transition: .2s ease;
    &:hover {
        box-shadow: 0px 4px 0px #4cce59;
    }
    cursor: pointer;

    text-decoration: none;
}
.teams__teams-row {
    width: 100%;

    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.teams__teams-name {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 115%;
    /* or 25px */

    text-align: center;
    &.teams__teams-name_small {
        font-size: 14px;
    }
    &.teams__teams-name_align-right {
        text-align: right;
    }
}

// NE MIEL

.teams__cards{
  box-sizing: border-box;
  width: 100%;
  padding: 50px;


  display: flex;
  flex-wrap: wrap;
}
